{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block head_title %}
  {% if user.is_authenticated %}
    {% translate "Products list" %} - {{ user.username }}
  {% else %}
    {% translate "Products list" %}
  {% endif %}
{% endblock head_title %}

{% block left_sidebar %}
  {% include 'components/sidebars/left/sidebar.html' %}
{% endblock left_sidebar %}

{% block content %}
  <main>
    <!-- Carousel wrapper -->
    {% comment %} {% include 'carousel.html' %} {% endcomment %}
    <!-- Carousel wrapper -->

    <section style="background-color: #eeefff;" class="">
      <div class="container">
        <div class="d-flex justify-content-start align-items-center">
          <h2>Productos</h2>
          <a class="mx-3" href="#">Ver todos</a>
        </div>
        {% if products %}
          <div class="row">
            {% for product in products %}
              <div class="col-md-3 col-lg-2 mb-4">
                <div class="card h-100">
                  <a href="{% url 'products:media_detail' product.id %}">

                    <img
                      src="{{ product.imagenes.first.image.url }}"
                      class="card-img-top"
                      alt="{{ product.imagenes.first.alt_text }}"
                    />

                  </a>

                  <div class="card-body d-flex align-items-end">
                    <p class="card-text">

                    </p>
                    <p class="card-text">
                      {{ product.description }}
                    </p>
                  </div>
                  <div class="card-footer d-flex">
                    <a href="{{ media.get_absolute_url }}">
                      <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div> <!-- /row -->
        {% else %}
          <p class="alert alert-info">No hay productos disponibles!</p>
        {% endif %}
      </div>
    </section>
  </main>
{% endblock content %}
