
{% load static %}
{% load i18n %}
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> {% translate "Home" %} </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> {% translate "Features" %} </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> {% translate "Pricing" %} </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> {% translate "FAQs" %} </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"> {% translate "About" %} </a></li>
    </ul>
    <p class="text-center text-muted">
        &copy; {% now "Y" %}
        {% translate "All rights reserved - This website is made with" %}
        <i class="fa fa-heart"></i>
    </p>
  </footer>
</div>
